{% from "showlinks.html" import show_links %}

<!doctype html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Bootstrap demo</title>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-QWTKZyjpPEjISv5WaRU9OFeRpok6YctnYmDr5pNlyT2bRjXh0JMhjY6hW+ALEwIH" crossorigin="anonymous">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.4/css/all.min.css" integrity="sha512-RnWPDE98p2+MS/Bi8i0BbK7pm3A1eObtftIZxAElSNzxVumVLMR9Zx8bYgAB4e4aP9rBjrEeGoEwKm7Mc6xTLA==" crossorigin="anonymous" referrerpolicy="no-referrer" />
    <link rel="stylesheet" type="text/css" href="{{url_for('static',filename = 'style.css')}}"/>
</head>
<body>
<div class="container">
    <div class="header mb-2">
        {{ show_links(user) }}       
    </div>
    <div class="page-header text-center mb-4">
        <h1>All Questions</h1>
    </div>
    <div class="row justify-content-center">
        <div class="col-lg-8">
            <div class="list-group">
                {% for question in question_result %}
                <a href="#" class="list-group-item">
                    <h4 class="list-group-item-heading">{{ question['question_text'] }}</h4>
                    <p class="list-group-item-text">Asked by: {{ question['asker_name'] }}</p>
                    <p class="list-group-item-text">Answered by: {{ question['teacher_name'] }}</p>
                </a>
                {% endfor %}
            </div>
        </div>
    </div>
</div>
<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/js/bootstrap.bundle.min.js" integrity="sha384-YvpcrYf0tY3lHB60NNkmXc5s9fDVZLESaAA55NDzOxhy9GkcIdslK1eN7N6jIeHz" crossorigin="anonymous"></script>
</body>
</html>
